<h1>
  Your todos!
</h1>

<div class="labels">
  <p>
    Todo / In progress / Done
  </p>
</div>

<div *ngFor="let todo of todos" class="task">

  <mat-card>
    <mat-card-content>
      <div class="task-text">
        <p>
          {{todo.title}}
        </p>
      </div>
      <div class="task-radio-buttons">
        <mat-radio-group [(ngModel)]="todo.status">
          <mat-radio-button value="Todo"></mat-radio-button>
          <mat-radio-button value="In progress"></mat-radio-button>
          <mat-radio-button value="Done"></mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="task-buttons">
  <form>
    <mat-form-field>
      <input matInput placeholder="Task..." #todoTitle>
    </mat-form-field>
  </form>
  <button class="add-btn" mat-raised-button color="primary" (click)='addTodo(todoTitle.value); todoTitle.value=""'>
    Add
  </button>
  <button class="clean-up-btn" mat-raised-button color="warn" (click)='cleanUp();'>
    Clean up!
  </button>
</div>
